.expense-list-container{
  margin-top:30px;
}

.expense-title{
  font-size:22px;
  margin-bottom:20px;
}

.expense-grid{

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

  gap:20px;

}

/* card */

.expense-card{

  background:white;

  padding:18px;

  border-radius:12px;

  box-shadow:0 5px 15px rgba(0,0,0,0.08);

  transition:all 0.3s ease;

  cursor:pointer;

}

/* hover animation */

.expense-card:hover{

  transform:translateY(-5px);

  box-shadow:0 8px 20px rgba(0,0,0,0.15);

}

/* income */

.expense-card.income{

  border-left:5px solid #16a34a;

}

/* expense */

.expense-card.expense{

  border-left:5px solid #ef4444;

}

/* header */

.expense-header{

  display:flex;

  justify-content:space-between;

  align-items:center;

}

/* amount */

.amount{

  font-weight:bold;

  font-size:18px;

}

/* footer */

.expense-footer{

  margin-top:10px;

  display:flex;

  justify-content:space-between;

  color:#6b7280;

  font-size:14px;

}

/* empty state */

.no-expenses{

  text-align:center;

  margin-top:20px;

  color:#888;

}.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ef4444;
  font-size: 16px;
}

.delete-btn:hover {
  color: #dc2626;
  transform: scale(1.2);
}